<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row">
                    {% if site.data.profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    {% else %}
                                    <i class="fas fa-graduation-cap mr-1 mt-1 text-muted" style="width: 18px;"></i>
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    {% else %}
                                    <i class="fas fa-building mr-1 mt-1 text-muted" style="width: 18px;"></i>
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                        {% if item.summary %}
                                        <div class="small text-muted mt-1">{{ item.summary }}</div>
                                        {% endif %}
                                        {% if item.details %}
                                        {% assign modal_id = "experience-modal-" | append: forloop.index %}
                                        <button type="button" class="btn btn-link btn-sm p-0 small experience-detail-button" data-toggle="modal" data-target="#{{ modal_id }}">
                                            Details
                                        </button>
                                        <div class="modal fade experience-modal" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}-title" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                <div class="modal-content border-0 shadow">
                                                    <div class="modal-header">
                                                        <div>
                                                            <h5 class="modal-title" id="{{ modal_id }}-title">{{ item.name }}</h5>
                                                            <div class="small text-muted">
                                                                {{ item.position }}{% if item.date %} &middot; {{ item.date }}{% endif %}
                                                            </div>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% if item.dept %}
                                                        <div class="small text-muted mb-2">{{ item.dept }}</div>
                                                        {% endif %}
                                                        {% if item.summary %}
                                                        <p>{{ item.summary }}</p>
                                                        {% endif %}
                                                        <ul class="mb-0 pl-3">
                                                            {% for detail in item.details %}
                                                            <li class="mb-2">{{ detail }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
